In [78]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [79]:
train =pd.read_csv("/kaggle/input/titanic/train.csv")
test =pd.read_csv("/kaggle/input/titanic/test.csv")

In [16]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [9]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,0,35.0,0,0,373450,8.0500,NaN,S

In [6]:
train.drop('Name', axis=1, inplace=True)

In [62]:
test.drop('Name', axis=1, inplace=True)

In [8]:
train['Sex'] = train['Sex'].replace({'male': 0, 'female': 1})

/tmp/ipykernel_33/1138961050.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train['Sex'] = train['Sex'].replace({'male': 0, 'female': 1})

In [63]:
test['Sex'] = test['Sex'].replace({'male': 0, 'female': 1})

/tmp/ipykernel_33/2055172298.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test['Sex'] = test['Sex'].replace({'male': 0, 'female': 1})

In [10]:
train['Sex'].max()

1

In [11]:
train["Sex"].fillna(1)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

In [12]:
train["Sex"].isna().sum()

0

In [13]:
train["Age"].isna().sum()

177

In [14]:
train["Age"].mean()

29.69911764705882

In [24]:
train["Age"].fillna(train["Age"].mean(), inplace=True)

In [71]:
test["Age"].fillna(test["Age"].mean(), inplace=True)

/tmp/ipykernel_33/1446686335.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test["Age"].fillna(test["Age"].mean(), inplace=True)

In [35]:
train.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [28]:
train.drop('Cabin', axis=1, inplace=True)

In [64]:
test.drop('Cabin', axis=1, inplace=True)

In [31]:
train["Embarked"].isna().max()

True

In [ ]:
train["Embarked"]=train["Embarked"].fillna(train["Embarked"].max())

In [36]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,0,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,1,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,1,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,1,35.0,1,0,113803,53.1000,S
4,5,0,3,0,35.0,0,0,373450,8.0500,S

In [37]:
train.drop('Ticket', axis=1, inplace=True)

In [67]:
test.drop('Ticket', axis=1, inplace=True)

KeyError: "['Ticket'] not found in axis"

In [45]:
train["Embarked"].unique()

array([0, 1, 2])

In [44]:
train["Embarked"]=train["Embarked"].replace({'S':0,'C':1,'Q':2})

/tmp/ipykernel_33/451368828.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train["Embarked"]=train["Embarked"].replace({'S':0,'C':1,'Q':2})

In [68]:
test["Embarked"]=test["Embarked"].replace({'S':0,'C':1,'Q':2})

/tmp/ipykernel_33/3938127546.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test["Embarked"]=test["Embarked"].replace({'S':0,'C':1,'Q':2})

In [46]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.10/site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (3.2.0)

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [51]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [53]:
from sklearn.model_selection import train_test_split
X=train.drop("Survived",axis=1)
y=train["Survived"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [59]:
train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,0,22.000000,1,0,7.2500,0
1,2,1,1,1,38.000000,1,0,71.2833,1
2,3,1,3,1,26.000000,0,0,7.9250,0
3,4,1,1,1,35.000000,1,0,53.1000,0
4,5,0,3,0,35.000000,0,0,8.0500,0
...,...,...,...,...,...,...,...,...,...
886,887,0,2,0,27.000000,0,0,13.0000,0
887,888,1,1,1,19.000000,0,0,30.0000,0
888,889,0,3,1,29.699118,1,2,23.4500,0
889,890,1,1,0,26.000000,0,0,30.0000,1
890,891,0,3,0,32.000000,0,0,7.7500,2

In [60]:
model = LogisticRegression(random_state=42, max_iter=2000)  

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = model.predict(X_test)

In [61]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.7989

In [72]:
test.isna().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           1
Embarked       0
dtype: int64

In [73]:
test["Fare"]=train["Fare"].fillna(train["Fare"].max())

In [74]:
ans=model.predict(test)

In [75]:
submission = pd.DataFrame({"PassengerId": test.PassengerId, "Survived": ans})
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [77]:
submission.to_csv('submission.csv', index = False)

In [80]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [81]:
def evaluate_model(model_name, model, X_test, y_test):
  """Evaluates a classification model and prints accuracy."""
  model.fit(X_train, y_train)
  y_pred = model.predict(X_test)
  accuracy = accuracy_score(y_test, y_pred)
  print(f"{model_name} Accuracy: {accuracy:.4f}")

# Train and evaluate various classification models
models = [
    ("KNeighborsClassifier", KNeighborsClassifier(n_neighbors=2)),  # Adjust n_neighbors as needed
    ("SVC", SVC(kernel='linear')),  # Choose kernel (e.g., 'linear', 'rbf')
    ("DecisionTreeClassifier", DecisionTreeClassifier()),
    ("RandomForestClassifier", RandomForestClassifier(n_estimators=100)),  # Adjust n_estimators
]

for model_name, model in models:
  evaluate_model(model_name, model, X_test.copy(), y_test.copy())  # Avoid modifying original data

KNeighborsClassifier Accuracy: 0.6201
SVC Accuracy: 0.7821
DecisionTreeClassifier Accuracy: 0.7821
RandomForestClassifier Accuracy: 0.8380